# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
log.txt

/out/*
client/out/*

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/
*.code-workspace

output/

# Project specific
jobs/*/
!jobs/.gitkeep
*.ptx
*.xyz
*.ifc

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints